In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('household_power_consumption.txt', sep=';', parse_dates={'timestamp':['Date','Time']},infer_datetime_format=True,na_values=['nan','?'], index_col='timestamp')
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
timestamp,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [4]:
df.index

DatetimeIndex(['2006-12-16 17:24:00', '2006-12-16 17:25:00',
               '2006-12-16 17:26:00', '2006-12-16 17:27:00',
               '2006-12-16 17:28:00', '2006-12-16 17:29:00',
               '2006-12-16 17:30:00', '2006-12-16 17:31:00',
               '2006-12-16 17:32:00', '2006-12-16 17:33:00',
               ...
               '2010-11-26 20:53:00', '2010-11-26 20:54:00',
               '2010-11-26 20:55:00', '2010-11-26 20:56:00',
               '2010-11-26 20:57:00', '2010-11-26 20:58:00',
               '2010-11-26 20:59:00', '2010-11-26 21:00:00',
               '2010-11-26 21:01:00', '2010-11-26 21:02:00'],
              dtype='datetime64[ns]', name='timestamp', length=2075259, freq=None)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2075259 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    float64
 1   Global_reactive_power  float64
 2   Voltage                float64
 3   Global_intensity       float64
 4   Sub_metering_1         float64
 5   Sub_metering_2         float64
 6   Sub_metering_3         float64
dtypes: float64(7)
memory usage: 126.7 MB

In [6]:
df.shape

(2075259, 7)

In [7]:
df.isnull().sum()

Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [8]:
cols = list(df.columns)

In [9]:
df = df.dropna()

In [10]:
df.isnull().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [11]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
timestamp,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [12]:
df['item-id'] = "client_1"

In [14]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,item-id
timestamp,,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0,client_1
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0,client_1
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0,client_1
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0,client_1
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0,client_1

In [15]:
df.to_csv("output.csv")

In [16]:
df = df.drop(columns = ['Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3'])
df.head()

                     Global_active_power   item-id
timestamp
2006-12-16 17:24:00                4.216  client_1
2006-12-16 17:25:00                5.360  client_1
2006-12-16 17:26:00                5.374  client_1
2006-12-16 17:27:00                5.388  client_1
2006-12-16 17:28:00                3.666  client_1

In [17]:
df = df.rename({'Global_active_power': 'value'}, axis = 'columns')

In [18]:
df.head()

                     value   item-id
timestamp
2006-12-16 17:24:00  4.216  client_1
2006-12-16 17:25:00  5.360  client_1
2006-12-16 17:26:00  5.374  client_1
2006-12-16 17:27:00  5.388  client_1
2006-12-16 17:28:00  3.666  client_1

In [19]:
df.to_csv("household_global_activepower_consumption.csv")